{% extends 'base.html' %}
{% load static %}
{% block 'logo_color' %}grey{% endblock %}
{% block 'title' %}Home{% endblock %}
{% block 'content' %}
<div class="hero-wrap js-fullheight" style="background-image: url(' {% static 'images/bg.jpeg' %} ');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <h3 class="v" style="color: white">Aasha - Hope to find your loved ones back</h3>
            <h3 class="vr" style="color: white">Uniting parents with kids</h3>
            <div class="col-md-11 ftco-animate text-center">
                <h1>Aasha</h1>
                <h2><span>Uniting families</span></h2>
            </div>
            <div class="mouse">
                <a href="#" class="mouse-icon">
                    <div class="mouse-wheel"><span class="ion-ios-arrow-down"></span></div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="goto-here"></div>

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url( {% static 'images/united_bw.jpeg' %} );"></div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section-bold mb-5 mt-md-5">
                    <div class="ml-md-0">
                        <h2 class="mb-4">There is Still Hope</h2>
                    </div>
                </div>
                <div class="pb-md-5">
                    <p>It is understandable that you are going through a lot of pain at the moment you are visiting this website, there is no greater pain in the world than losing your child but there is still hope. The time now is for you to take action. The time now is to put your whole effort into finding the one person you love the most in this world - your child. Your child is safe, have faith.</p>
                    <p>We aim to unite you with your kid by leveraging the ever growing technology, please provide us with a photograph of your child and we will match it with the photographs other people upload and in case your child is discovered, his location will be told to you.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url( {% static 'images/bg_statistics_bw.jpeg' %} );">
    <div class="container" style="max-width: 100%">
        <div class="row justify-content-center py-5">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text" style="color: white">
                                <strong class="number" data-number="100">0</strong>
                                <span>Families reunited</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text" style="color: white">
                                <strong class="number" data-number="50">0</strong>
                                <span>Registered Children</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text" style="color: white">
                                <strong class="number" data-number="70">0</strong>
                                <span>Success Rate</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text" style="color: white">
                                <strong class="number" data-number="174">0</strong>
                                <span>Lost Kid complaints registered</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light ftco-services" style="padding-bottom: 0px;">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="big">Services</h1>
                <h2>What do we offer ??</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-002-recommended"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Register your child as a safeguard</h3>
                        <p>Register your child's biometric data as a safeguard so that there is more data available for confirmation.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-001-box"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Lost kid registration</h3>
                        <p>Register a complaint for a missing child.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-003-medal"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Match automatically with database</h3>
                        <p>Register the request to match a child you find in suspicious and helpless conditions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}